.item-container{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 24px;
    color: var(--text-mid-light);
    background-color: var(--secondary-background);
    border-top: 1px solid var(--line);
}